<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="abnd.datastorage.bookstoreinventory">

    <application
        android:allowBackup="true"
        android:icon="@drawable/book_pile"
        android:label="@string/app_name"
        android:roundIcon="@drawable/book_pile"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".BookDisplay"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".data.BookProvider"
            android:authorities="abnd.datastorage.bookstoreinventory"
            android:exported="false" />

        <activity android:name=".EditorActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BookDisplay"/>
        </activity>
    </application>

</manifest>